.picLogo{
    width: 100%;
}
.card{
    margin: 20px;
}
.card-body{
    padding: 10px!important;
}
.list-item,input,select,h2{
    font-family: monospace;
}
.card-body input,select{
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    font-size: 18px;
    border-radius: 5px;
}
#sign{
    color: seashell;
    background-color: royalblue;
}
h2{
    margin-top: 30px;
}
body{
    padding: 20px;
}
#btnCal{
    color: seashell;
    margin: 5px 0px;
    background-color: royalblue;
}
.list-item{
    font-size: 20px;
}
